<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="gitlab" value="https://git.ithoot.com/api/v4/projects/36/packages/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
        <gitlab>
            <add key="Username" value="leroy_nuget" />
            <add key="ClearTextPassword" value="dzyc9ZWhvHtoL7zsMeBh" />
        </gitlab>
  </packageSourceCredentials>
</configuration>
